/* styles/global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.breadcrumbs a {
  text-decoration: none;
  color: #333;
  margin-right: 5px;
}

.breadcrumbs span {
  margin: 0 5px;
  color: #ccc;
}

main {
  max-width: 80% !important;
  margin: 0 auto;
}
